# ENVIRONMENT
ENVIRONMENT=local
SECRET_KEY=django-insecure-xrm1155oc!ah*&isjmpvarwrucg&c7x-n9hh8&2ztr+5ek8_%r
DEBUG=true
ALLOWED_HOSTS=127.0.0.1,0.0.0.0,localhost

# DATABASE
DB_NAME=kleikoks
DB_USER=kleikoks
DB_PASSWORD=kleikoks
DB_HOST=db
DB_PORT=5432
DB_NUMBER=0
PG_EXT_PORT=5433

# CACHE
CACHE_TYPE=redis

# CELERY
CELERY_CACHE_BACKEND=redis

# REDIS
REDIS_HOST=redis
REDIS_EXT_PORT=6380

# EMAIL
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=kleikoks.py@gmail.com
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_PASSWORD=aywbnhsflhsdylfe